<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.mwyq.mapper.ReligionEntityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.mwyq.entity.ReligionEntity">
        <id column="id" property="id" />
        <result column="entity" property="entity" />
        <result column="entity_id" property="entityId" />
        <result column="lang" property="lang" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", entity AS "entity", entity_id AS "entityId", lang AS "lang"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.ReligionEntityResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.ReligionEntityParam">
        select
        <include refid="Base_Column_List"/>
        from religion_entity where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.ReligionEntityParam">
        select
        <include refid="Base_Column_List"/>
        from religion_entity where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.ReligionEntityResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.ReligionEntityParam">
        select
        <include refid="Base_Column_List"/>
        from religion_entity where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.ReligionEntityParam">
        select
        <include refid="Base_Column_List"/>
        from religion_entity where 1 = 1
    </select>

</mapper>
