<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.mwyq.mapper.TopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.mwyq.entity.Topic">
        <result column="topic_id" property="topicId" />
        <result column="topwords" property="topwords" />
        <result column="topic_name" property="topicName" />
        <result column="cluster_topic_name" property="clusterTopicName" />
        <result column="producedtime" property="producedtime" />
        <result column="lang_type" property="langType" />
        <result column="keywords" property="keywords" />
        <result column="news_count" property="newsCount" />
        <result column="news_time" property="newsTime" />
        <result column="news_content" property="newsContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        topic_id AS "topicId", topwords AS "topwords", topic_name AS "topicName",cluster_topic_name AS "clusterTopicName", producedtime AS "producedtime", lang_type AS "langType", keywords AS "keywords",summarize AS "summarize", news_count AS "newsCount", news_time AS "newsTime"
    </sql>

    <sql id="topic_Column_List">
        t1.topic_id AS "topicId", t1.topwords AS "topwords", t1.topic_name AS "topicName",t1.cluster_topic_name AS "clusterTopicName", t1.lang_type AS "langType", t1.keywords AS "keywords", t1.news_count AS "newsCount", t1.news_time AS "newsTime", t1.news_content AS "newsContent",t1.summarize AS "summarize"
    </sql>
    <select id="customList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TopicResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TopicParam">
        select
        <include refid="Base_Column_List"/>
        from topic where 1 = 1
            <if test="paramCondition.topicId != null and paramCondition.topicId != ''">
                and topic_id like CONCAT('%',#{paramCondition.topicId},'%')
            </if>
            <if test="paramCondition.topwords != null and paramCondition.topwords != ''">
                and topwords like CONCAT('%',#{paramCondition.topwords},'%')
            </if>
            <if test="paramCondition.topicLabelCandidate != null and paramCondition.topicLabelCandidate != ''">
                and topic_label_candidate like CONCAT('%',#{paramCondition.topicLabelCandidate},'%')
            </if>
            <if test="paramCondition.topicName != null and paramCondition.topicName != ''">
                and topic_name like CONCAT('%',#{paramCondition.topicName},'%')
            </if>
            <if test="paramCondition.topicLabel != null and paramCondition.topicLabel != ''">
                and topic_label like CONCAT('%',#{paramCondition.topicLabel},'%')
            </if>
            <if test="paramCondition.producedtime != null and paramCondition.producedtime != ''">
                and producedtime like CONCAT('%',#{paramCondition.producedtime},'%')
            </if>
            <if test="paramCondition.langType != null and paramCondition.langType != ''">
                and lang_type like CONCAT('%',#{paramCondition.langType},'%')
            </if>
            <if test="paramCondition.keywords != null and paramCondition.keywords != ''">
                and keywords like CONCAT('%',#{paramCondition.keywords},'%')
            </if>
            <if test="paramCondition.topicDir != null and paramCondition.topicDir != ''">
                and topic_dir like CONCAT('%',#{paramCondition.topicDir},'%')
            </if>
            <if test="paramCondition.topicIndex != null and paramCondition.topicIndex != ''">
                and topic_index like CONCAT('%',#{paramCondition.topicIndex},'%')
            </if>
            <if test="paramCondition.newsCount != null and paramCondition.newsCount != ''">
                and news_count like CONCAT('%',#{paramCondition.newsCount},'%')
            </if>
            <if test="paramCondition.newsTime != null and paramCondition.newsTime != ''">
                and news_time like CONCAT('%',#{paramCondition.newsTime},'%')
            </if>
            <if test="paramCondition.newsContent != null and paramCondition.newsContent != ''">
                and news_content like CONCAT('%',#{paramCondition.newsContent},'%')
            </if>
    </select>

    <select id="topicCountList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TopicResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TopicParam">
        SELECT CONCAT(YEAR(producedtime),'/',MONTH(producedtime),'/',DAY(producedtime)) AS "dataTime" , COUNT(*) AS "count"
        FROM topic
        WHERE 1=1 AND producedtime > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        <if test="paramCondition.langType != null and paramCondition.langType != ''">
            and lang_type = #{paramCondition.langType}
        </if>
        <if test="paramCondition.topwords != null and paramCondition.topwords != ''">
            and topwords like CONCAT('%',#{paramCondition.topwords},'%')
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (producedtime between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY YEAR(producedtime),MONTH(producedtime),DAY(producedtime)
        ORDER BY YEAR(producedtime) DESC,MONTH(producedtime) DESC,DAY(producedtime) DESC
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TopicParam">
        select
        <include refid="Base_Column_List"/>
        from topic where 1 = 1
            <if test="paramCondition.topicId != null and paramCondition.topicId != ''">
                and topic_id like CONCAT('%',#{paramCondition.topicId},'%')
            </if>
            <if test="paramCondition.topwords != null and paramCondition.topwords != ''">
                and topwords like CONCAT('%',#{paramCondition.topwords},'%')
            </if>
            <if test="paramCondition.topicLabelCandidate != null and paramCondition.topicLabelCandidate != ''">
                and topic_label_candidate like CONCAT('%',#{paramCondition.topicLabelCandidate},'%')
            </if>
            <if test="paramCondition.topicName != null and paramCondition.topicName != ''">
                and topic_name like CONCAT('%',#{paramCondition.topicName},'%')
            </if>
            <if test="paramCondition.topicLabel != null and paramCondition.topicLabel != ''">
                and topic_label like CONCAT('%',#{paramCondition.topicLabel},'%')
            </if>
            <if test="paramCondition.producedtime != null and paramCondition.producedtime != ''">
                and producedtime like CONCAT('%',#{paramCondition.producedtime},'%')
            </if>
            <if test="paramCondition.langType != null and paramCondition.langType != ''">
                and lang_type like CONCAT('%',#{paramCondition.langType},'%')
            </if>
            <if test="paramCondition.keywords != null and paramCondition.keywords != ''">
                and keywords like CONCAT('%',#{paramCondition.keywords},'%')
            </if>
            <if test="paramCondition.topicDir != null and paramCondition.topicDir != ''">
                and topic_dir like CONCAT('%',#{paramCondition.topicDir},'%')
            </if>
            <if test="paramCondition.topicIndex != null and paramCondition.topicIndex != ''">
                and topic_index like CONCAT('%',#{paramCondition.topicIndex},'%')
            </if>
            <if test="paramCondition.newsCount != null and paramCondition.newsCount != ''">
                and news_count like CONCAT('%',#{paramCondition.newsCount},'%')
            </if>
            <if test="paramCondition.newsTime != null and paramCondition.newsTime != ''">
                and news_time like CONCAT('%',#{paramCondition.newsTime},'%')
            </if>
            <if test="paramCondition.newsContent != null and paramCondition.newsContent != ''">
                and news_content like CONCAT('%',#{paramCondition.newsContent},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TopicResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TopicParam">
        select
        <include refid="Base_Column_List"/>
        from topic t1 where 1=1 and t1.topic_name is not null and t1.producedtime > DATE_SUB(CURDATE(), INTERVAL 2 MONTH )
        <if test="paramCondition.topwords != null and paramCondition.topwords != ''">
            and t1.topwords like CONCAT('%',#{paramCondition.topwords},'%')
        </if>
        <if test="paramCondition.topicName != null and paramCondition.topicName != ''">
            and t1.topic_name like CONCAT('%',#{paramCondition.topicName},'%')
        </if>
        <if test="paramCondition.langType != null and paramCondition.langType != ''">
            and t1.lang_type = #{paramCondition.langType}
        </if>
        <if test="paramCondition.keywords != null and paramCondition.keywords != ''">
            and t1.keywords like CONCAT('%',#{paramCondition.keywords},'%')
        </if>
        <if test="paramCondition.newsCount != null and paramCondition.newsCount != ''">
            and t1.news_count like CONCAT('%',#{paramCondition.newsCount},'%')
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (t1.producedtime between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        <if test="paramCondition.newsContent != null and paramCondition.newsContent != ''">
            and t1.news_content like CONCAT('%',#{paramCondition.newsContent},'%')
        </if>
        ORDER BY t1.producedtime DESC
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TopicParam">
        select
        <include refid="Base_Column_List"/>
        from topic where 1 = 1
            <if test="paramCondition.topicId != null and paramCondition.topicId != ''">
                and topic_id like CONCAT('%',#{paramCondition.topicId},'%')
            </if>
            <if test="paramCondition.topwords != null and paramCondition.topwords != ''">
                and topwords like CONCAT('%',#{paramCondition.topwords},'%')
            </if>
            <if test="paramCondition.topicLabelCandidate != null and paramCondition.topicLabelCandidate != ''">
                and topic_label_candidate like CONCAT('%',#{paramCondition.topicLabelCandidate},'%')
            </if>
            <if test="paramCondition.topicName != null and paramCondition.topicName != ''">
                and topic_name like CONCAT('%',#{paramCondition.topicName},'%')
            </if>
            <if test="paramCondition.topicLabel != null and paramCondition.topicLabel != ''">
                and topic_label like CONCAT('%',#{paramCondition.topicLabel},'%')
            </if>
            <if test="paramCondition.producedtime != null and paramCondition.producedtime != ''">
                and producedtime like CONCAT('%',#{paramCondition.producedtime},'%')
            </if>
            <if test="paramCondition.langType != null and paramCondition.langType != ''">
                and lang_type like CONCAT('%',#{paramCondition.langType},'%')
            </if>
            <if test="paramCondition.keywords != null and paramCondition.keywords != ''">
                and keywords like CONCAT('%',#{paramCondition.keywords},'%')
            </if>
            <if test="paramCondition.topicDir != null and paramCondition.topicDir != ''">
                and topic_dir like CONCAT('%',#{paramCondition.topicDir},'%')
            </if>
            <if test="paramCondition.topicIndex != null and paramCondition.topicIndex != ''">
                and topic_index like CONCAT('%',#{paramCondition.topicIndex},'%')
            </if>
            <if test="paramCondition.newsCount != null and paramCondition.newsCount != ''">
                and news_count like CONCAT('%',#{paramCondition.newsCount},'%')
            </if>
            <if test="paramCondition.newsTime != null and paramCondition.newsTime != ''">
                and news_time like CONCAT('%',#{paramCondition.newsTime},'%')
            </if>
            <if test="paramCondition.newsContent != null and paramCondition.newsContent != ''">
                and news_content like CONCAT('%',#{paramCondition.newsContent},'%')
            </if>
    </select>

</mapper>
