<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.mwyq.mapper.TwitterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.mwyq.entity.Twitter">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="name" property="name" />
        <result column="time" property="time" />
        <result column="sentiment" property="sentiment" />
        <result column="reply_count" property="replyCount" />
        <result column="retweet_count" property="retweetCount" />
        <result column="like_count" property="likeCount" />
        <result column="lang" property="lang" />
        <result column="location" property="location" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", content AS "content", name AS "name", time AS "time", sentiment AS "sentiment",reply_count AS "replyCount",retweet_count AS "retweetCount",like_count AS "likeCount",lang AS "lang",location AS "location"
    </sql>

    <select id="customList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TwitterResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TwitterParam">
        select
        <include refid="Base_Column_List"/>
        from twitter where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TwitterParam">
        select
        <include refid="Base_Column_List"/>
        from twitter where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TwitterResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TwitterParam">
        select
        <include refid="Base_Column_List"/>
        from twitter where 1 = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        ORDER BY time DESC
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TwitterParam">
        select
        <include refid="Base_Column_List"/>
        from twitter where 1 = 1
    </select>

    <select id="authorRankList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TwitterResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TwitterParam">
        SELECT name,count(*) as twitterCount from twitter where name is not null
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name = #{paramCondition.name}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY name ORDER BY twitterCount desc limit #{paramCondition.top}
    </select>

    <select id="sentimentList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.TwitterResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.TwitterParam">
        SELECT sentiment,COUNT(*) AS sentimentCount FROM twitter  GROUP BY sentiment  ORDER BY sentimentCount desc limit 10
    </select>

</mapper>
