<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.mwyq.mapper.WeiboMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.mwyq.entity.Weibo">
        <id column="id" property="id"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>
        <result column="content" property="content"/>
        <result column="article_url" property="articleUrl"/>
        <result column="location" property="location"/>
        <result column="create_time" property="createTime"/>
        <result column="like_count" property="likeCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="transmit_count" property="transmitCount"/>
        <result column="sentiment" property="sentiment"/>
        <result column="lang" property="lang"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        AS "id", author_id AS "authorId",author_name AS "authorName", content AS "content", article_url AS "articleUrl", location AS "location",create_time AS "createTime", like_count AS "likeCount", transmit_count AS "transmitCount",  comment_count AS "commentCount",  sentiment AS "sentiment", lang AS "lang"
    </sql>

    <select id="customList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult"
            parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        select
        <include refid="Base_Column_List"/>
        from weibo WHERE 1=1
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        order by createTime desc
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        select
        <include refid="Base_Column_List"/>
        from weibo order by createTime desc
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        select
        <include refid="Base_Column_List"/>
        FROM weibo WHERE 1=1
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        order by createTime desc,like_count desc,comment_count desc,transmit_count desc
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        select
        <include refid="Base_Column_List"/>
        from weibo order by createTime desc
    </select>

    <select id="sentimentTypeList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        SELECT create_time,sentiment,COUNT(*) AS num FROM weibo WHERE sentiment is not null
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY
        sentiment
        ORDER BY num desc
    </select>

    <select id="langTypeList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        SELECT lang,COUNT(*) AS num FROM weibo WHERE lang is not null
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY
        lang
        ORDER BY num desc
    </select>

    <select id="bloggerRankList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        SELECT author_name As authorName,COUNT(*) AS num FROM weibo where author_name is not null
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY
        author_name
        ORDER BY num desc limit 7
    </select>

    <select id="authorSentimentList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        SELECT sentiment,count(*) as num FROM weibo where sentiment is not null
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY sentiment
    </select>

    <select id="areaMapList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        select left(location, 4) as location,COUNT(*) as num from weibo t where t.location is NOT NULL
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY  location order by num desc
    </select>

    <select id="sentimentTrendList" resultType="cn.stylefeng.guns.modular.mwyq.model.result.WeiboTrendResult" parameterType="cn.stylefeng.guns.modular.mwyq.model.params.WeiboParam">
        SELECT
        create_time,
        YEAR(create_time) as yearTime,
        MONTH( create_time) as monthTime,
        CONCAT(YEAR(create_time),'-',MONTH(create_time)) AS data_time ,
        COUNT(1) AS total,
        COUNT(IF(sentiment=1,1,NULL)) AS neuNum,
        COUNT(IF(sentiment=2,2,NULL)) AS senNum,
        COUNT(IF(sentiment=3,3,NULL)) AS forNum
        FROM weibo where 1=1
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and content like concat('%', #{paramCondition.keyword},'%')
        </if>
        <if test="paramCondition.lang != null and paramCondition.lang != ''">
            and lang = #{paramCondition.lang}
        </if>
        <if test="paramCondition.authorName != null and paramCondition.authorName != ''">
            and author_name = #{paramCondition.authorName}
        </if>
        <if test="paramCondition.location != null and paramCondition.location != ''">
            and location = #{paramCondition.location}
        </if>
        <if test="paramCondition.sentiment != null and paramCondition.sentiment != ''">
            and sentiment = #{paramCondition.sentiment}
        </if>
        <if test="paramCondition.beginTime != null and paramCondition.beginTime != '' and paramCondition.endTime != null and paramCondition.endTime != ''">
            and (create_time between CONCAT(#{paramCondition.beginTime},' 00:00:00') and CONCAT(#{paramCondition.endTime},' 23:59:59'))
        </if>
        GROUP BY
        data_time
        ORDER BY
        yearTime DESC,monthTime DESC
    </select>

</mapper>
